<div id="banner">
    <div id="wrapper">
        <div id="container">
            <div class="home-banner-image">
              <div id="cocktail-list">
                <h1 class="cocktail-name"><%= link_to "Cocktail List", "#{root_path}#cocktail-list" %></h1>
              </div>
            </div>
        </div>
    </div>
</div>



<% @cocktails.each do |cocktail| %>
  <div class="row">
    <div id="banner">
      <div id="wrapper">
        <div id="container">
          <div class="home-cocktail-image">
            <div class="home-cocktail-details">
              <h2 class="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <hr>
              <% cocktail.doses.each do |dose| %>
                <div class="cocktail-dose">
                  <div class="col-xs-6">
                    <div class="ingredients-list">
                      <ul>
                        <p> <%= Ingredient.find(dose.ingredient_id).name %></p>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="description-list">
                      <ul>
                        <p style="text-align: right;"> <%= dose.description %></p>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%= link_to "Re-invent", cocktail_path(cocktail), class: "edit-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
