<div id="b<div>a</div> nner">
    <div id="wrd<iv >a</div> pper">
        <div id="container">
            <div class="banner-image">
              <div id="cocktail-list">
                <h1 class="cocktail-name"><%= link_to "Cocktail List", "#{root_path}#cocktail-list" %></h1>
              </div>
            </div>
        </div>
    </div>
</div>

<% @cocktails.each do |cocktail| %>
  <div id="banner">
      <div id="wrapper">
          <div id="container">
              <div class="cocktail-image">
                <div class="cocktail-details">
                  <h2 class="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
                  <hr>
                  <div class="cocktail-lists">
                    <div class="ingredients-list">
                      <ul>
                        <% cocktail.ingredients.each do |ingredient| %>
                          <p><%= ingredient.name %></p>
                        <% end %>
                      </ul>
                    </div>
                    <div class="description-list">
                      <ul>
                        <% cocktail.doses.each do |dose| %>
                          <p> <%= dose.description %></p>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
                <%= link_to "Re-invent", cocktail_path(cocktail), class: "edit-button" %>
              </div>
          </div>
      </div>
  </div>
<% end %>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
