<div id="banner">
  <div id="wrapper">
    <div id="container">
      <div class="mini-banner"></div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="new-form">
      <br>
      <h1>Baptise your cocktail</h1>
      <br>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
