<div id="banner">
  <div id="wrapper">
    <div id="container">
      <div class="cocktail-image" style="background-image: linear-gradient(to right, rgba(255,255,255,0.0), rgba(0,0,0,0.6)), url('<%= cl_image_path @cocktail.photo %>')";>
        <div class="cocktail-details">
          <h2 class="cocktail-name"><%= link_to @cocktail.name, cocktail_path(@cocktail) %></h2>
          <hr>

          <% @cocktail.doses.each do |dose| %>
            <div class="cocktail-dose">
              <div class="col-xs-6">
                <div class="ingredients-list">
                  <ul>
                    <p>
                    <%= link_to dose_path(dose), method: :delete do %>
                    <i class="far fa-minus-square icon-link"></i>
                    <% end %>
                    <%= Ingredient.find(dose.ingredient_id).name %></p>
                  </ul>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="description-list">
                  <ul>
                    <p style="text-align: right;"> <%= dose.description %></p>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          <div class="col-xs-12">
            <br>
            <h3>Add a flavour</h3>
            <br>
            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <%= f.input :ingredient, collection: @ingredients, input_html: { class: "form-input" }, label: "Ingredient", include_hidden: false %>
              <%= f.input :description, collection: @description, input_html: { class: "form-input" } %>
              <%= f.submit class: "btn btn-warning" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

